*{
    margin: 0;
    padding: 0;
}

footer{
    padding-top: 5.813rem;
    padding-bottom: 3.5rem;
    width: 100%;
    display: inline-block;
    justify-content: justify;
    background: #012A52;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.604rem;
    border-bottom: solid 1px white;
}

#footer-top-span{
    padding-top: 1.313rem;
    color: white;
    font-size: 14px;
    padding-left: 1.75rem;
    min-width: fit-content;
    font-family: "Montserrat", sans-serif;
}

#footer-top-nav{
    padding-top: 0.875rem;
    color: white;
    font-size: 20px;
    min-width: fit-content;
}

#top-nav-links ul{
    padding:0px;
    display: flex;
    justify-content: space-between;
}

#top-nav-links ul li a{
    color: white;
    padding-left: 1.75rem;
}

#top-nav-links ul li a:hover{
    color: #51A4F1;
}

#footer-middle{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    font-size: 16px;
    color: white;
    border-bottom: solid 1px white;
    justify-content: space-between;
}

.redes{
    display: inline-flex;
    min-width: fit-content;
}

.redes-img{
    padding-top: 5px;
}

.local-text{
    margin-left: 5px;
    width: 320px;
}

.others-text{
    padding-top: 5px;
    margin-left: 5px;
}

#footer-bottom{
    padding-top: 3.125rem;
    text-align: center;
    color: white;
}

#footer-bottom p{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px;
}

@media(max-width:1200px){
    #footer-top-span{
        display: none;
    }
        
    .others-text{
        display: none;
    }
}

@media(max-width:767px){    
    .local-text{
        display: none;
    }
}