*{
    margin: 0;
    padding: 0;
}

body{
    min-width: 360px;
}
footer{
    padding-top: 5.813rem;
    padding-bottom: 3.5rem;
    width: 100%;
    display: inline-block;
    justify-content: justify;
    background: #012A52;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.604rem;
    border-bottom: solid 1px white;
}

#footer-top-span{
    padding-top: 1.313rem;
    color: white;
    font-size: 14px;
    padding-left: 1.75rem;
    min-width: fit-content;
    font-family: "Montserrat", sans-serif;
}

#footer-top-nav{
    padding-top: 0.875rem;
    color: white;

}

#top-nav-links ul{
    padding:0px;
    display: flex;
    justify-content: space-between;
}

#top-nav-links ul li a{
    color: white;
    padding-left: 2vw;
}

#top-nav-links ul li a:hover{
    color: #51A4F1;
}

#footer-middle{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    color: white;
    border-bottom: solid 1px white;
    justify-content: space-between;
}

.redes{
    display: inline-flex;
    min-width: fit-content;
}

.redes-img{
    padding-top: 5px;
}

.local-text{
    margin-left: 5px;
    width: 320px;
}

.others-text{
    padding-top: 5px;
    margin-left: 5px;
}

#footer-bottom{
    padding-top: 3.125rem;
    text-align: center;
    color: white;
}

#footer-bottom p{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px;
}

@media(max-width:1200px){
    #footer-top-span{
        display: none;
        
    }
        
    .others-text{
        display: none;
    }
}

@media(max-width:767px){    
    .local-text{
        display: none;
    }

    #footer-top img{
        width: 40px;
    }

}

@media(max-width:576px){  
    #main-footer{
        padding: 1rem 1.5rem;
    }
    
    #footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px;
    }

    #footer-top img{
        margin: 0 auto;
    }

    #footer-top #footer-top-span{
        padding-left: 0px;
        display: initial;
    }

    #footer-top #footer-top-span span{
        margin-bottom: 2rem;
        font-size: 1.25rem;
        font-weight: 400;
    }

    #footer-top #top-nav-links ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0px;
    }

    #footer-top #top-nav-links ul li{
        width: 50%;
        font-size: 1.83rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: start;
    }

    #footer-top #top-nav-links ul li a{
        padding-left: 0;
    }

    #footer-middle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1.5rem 0;
        padding-top: 1rem;
    }

    #footer-middle .redes{
        width: 100%;
    }

    #footer-middle .redes{
        width: 100%;
        margin-top: 2rem;
    }

    #footer-middle .redes.only-icon{
        width: 25%;
        display: flex;
        justify-content: center;
    }

    #footer-middle .redes .local-text{
        width: 100%;
        display: initial;
    }

    #footer-middle .redes .others-text{
        padding-top: 0;
        width: 100%;

        display: flex;
        align-items: center;
    }

    #footer-middle .redes .others-text span{
        vertical-align: middle;
    }

    #footer-bottom{
        padding-top: 2rem;
    }
}