.nav-header-container{
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
}
.nav-header{
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;

    
}

.nav-header .nav-bar{
    display: flex;
    align-content: center;
    align-items: center;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.nav-header .menu{
    display: none;
}

.nav-header .nav-bar .links{
    border-right: 1px solid #000;

    display: flex;
    align-items: center;
    padding-top: 15px;
}

.nav-header .nav-bar .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li a{
    margin: 0 1rem;

    color: black;
    font-weight: 500;
}

.links ul li a:hover{
    color: #51A4F1;
}

.header-button{
    color: #fff;
    background-color: #51A4F1;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: .75rem;
    margin-left: 1rem;
}

.header-button:hover{
    color: #fff;
    background-color: #4f94d4;
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav-header .nav-header{
        justify-content: space-between;
    }

    .nav-header .menu{
        display: inline-block;
    }

    .nav-header .menu img{
        height: 100%;
    }

    .nav-header .nav-bar{
        display: none;
        padding: 1rem;
        padding-top: 2rem;

        background-color: white;

        position:absolute;
        left: 0vw;
        top: 0vh;

        flex-direction: column;
        align-items: flex-start;

        transition: all .3s;

        z-index: 9999;
    }

    .nav-header .nav-bar.active{
        display: flex;
    }

    .nav-header .nav-bar .links{
        width: 100%;
    }

    .nav-header .nav-bar .links ul{
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .nav-header .nav-bar .links{
        border: none;
    }

    .nav-header .nav-bar .links ul li{
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;
    }

    .nav-header .nav-bar .links ul li:active{
        background-color: #51A4F1; 
    }

    .nav-header .nav-bar .links ul li a{
        width: 100%;
        margin: 0;
        font-size: 1.25rem;
        width: 100%;
        display: inline-block;
    }

    .nav-header .nav-bar .links ul li a:active{
        color: white;
    }

    .nav-header .nav-bar .fale-conosco{
        margin-top: 2rem;
    }

    .nav-header .nav-bar .fale-conosco .header-button{
        margin-left: 0;
        max-width: 15rem;

        font-size: 1.25rem;
    }
}