/* Banner */

.header-main{
    position: relative;
    overflow: hidden;
    color: #ffffff;
    padding-top: 0px;
}

.banner{
    margin: auto;
    
}

.header-main img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.banner h3{
    margin-top: 5rem;
    margin-bottom: 2.25rem;

    font-weight: 700;
}

.banner h4{
    margin-bottom: 3.75rem;

    font-weight: 500;
}

.banner button{
    margin-bottom: 4rem;

    color: #51A4F1;
}

/* Carrossel */

.carrossel{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 1.25rem;
    height: 31rem;

    overflow: hidden;
    color: #fff;
    
    position: relative;
}

.carrossel a.disabled{
    pointer-events: none;
}

.carrossel img{
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;

    z-index: -1;

    transition: transform .5s, opacity .5s, z-index .5s;
}

.carrossel img.initial,
.carrossel img.active {
  opacity: 1;
  position: relative;
  z-index: 8;
}

.carrossel img.prev,
.carrossel img.next {
  z-index: 9;
}
.carrossel img.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carrossel img.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carrossel-button-prev,
.carrossel-button-next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 10; /* Sit on top of everything */
  border: 1px solid black;
}
.carrossel-button-prev {
  left:0;
}
.carrossel-button-next {
  right:0;
}
.carrossel-button-prev::after,
.carrossel-button-next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carrossel-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.carrossel-pontos{
    width: 100%;
    position: absolute;
    bottom: 1rem;
    z-index: 11;

    display: flex;
    justify-content: center;
}

.carrossel-ponto{
    width: 1.75rem;
    height: 1.75rem;
    margin: 1rem;
    border-radius: 30rem;
    background-color: #D0D5DB;

    opacity: 0.7;
}

.carrossel-ponto.active{
    background-color: #FFF;
}

/* Noticias */

.news{
    margin: auto;
}

h3{
    font-weight: 700;
    font-size: 2.125rem;
    margin-bottom: 3rem;
}

h3 .blue-text{
    color: #51A4F1;
}

.news .noticia-area{
    margin: 0 4.25rem;
}

.noticia{
    
    margin-bottom: 3rem;
    border-radius: 1.25rem;
    overflow: hidden;

    background-color: #fff;

    display: flex;   
}

.noticia .content{ 
    display: flex;
    flex-direction: column;

    color: #000;
}

.noticia .content h5{
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;

    color: #1060AB;
    font-weight: 500;
    font-size: 1.375rem;
}

.noticia .content h4{
    margin-bottom: 0.75rem;

    font-weight: 500;
    font-size: 1.75rem;
}

.noticia .content p{
    margin-bottom: 2rem;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.875;
}

.noticia .content .date{
    display: flex;
    align-content: center;
    height: 1.5rem;

    color: #757575;
}

.noticia .content .date .relogio-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.news h5{
    margin-bottom: 4.25rem;

    font-weight: 500;
    font-size: 1.375rem;
}

.news h5 a{
    color: #51A4F1;
}

/* Serviços */

.servicos{
    margin: auto;
    margin-bottom: 5rem;
}

.servicos h3{
    margin-bottom: 3rem;

    font-weight: 700;
}

.servicos-area{
    margin: 0 4.25rem;
    display: flex;
}

.servicos-area > :first-child{
    margin-right: 2rem;
}

.servico{
    width: 100%;
    padding: 1.75rem;

    background: #fff;
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.servico .imagem-servico{
    width: 6rem;
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.servico h4{
    margin-bottom: 0.75rem;

    color: #51A4F1;

    font-weight: 700;
    font-size: 1.75rem;
}

.servico p{
    font-size: 1.375rem;
    text-align: center;
}

/* Duvidas */

.duvidas{
    position: relative;
    height: 18rem;
    overflow: hidden;

    color: #fff;
}

.duvidas .duvidas-imagem{
    width: 100%;
    height: inherit;
    max-height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
}

.duvidas h4, .duvidas p{
    text-align: center;
}

.duvidas h4{
    margin-top: 4.25rem;

    font-weight: 700;
    font-size: 2.125rem;
}

.duvidas p{
    margin-top: 1.5rem;

    font-weight: 500;
    font-size: 1.75rem;
}

.duvidas .button{
    
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.duvidas .button button{
    color: #51A4F1;
}