.header-main{
    width: 100%;
    height: 32.5rem;

    position: relative;
    overflow: hidden;

    color: #fff;
}
.header-main .banner{
    margin-top:10rem;
    max-width: 500px;
    min-width: 330px;

}

.header-main img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.header-main .banner h3{
    margin-top: 5rem;
    margin-bottom: 2.25rem;

    font-weight: 700;
}

.header-main .banner h4{
    margin-bottom: 3.75rem;

    font-size: 1.75rem;
    font-weight: 500;
}

.header-main .banner button{
    margin-bottom: 4rem;

    color: #51A4F1;
}

span p, .nossos-servicos p{
    font-size: 1.375rem;
    font-weight: 500;
}

.reabilitacao-credito h3,
.bacen h3,
.nossos-servicos h3{
    margin-bottom: 1.875rem;

    font-size: 2.125rem;
    font-weight: 700;
}

.blue-text{
    color: #51A4F1;

    font-size: 2.125rem;
    font-weight: 700;
}

.reabilitacao-credito h4, 
.retirada-apontamentos h4, 
.restauracao-score h4, 
.bacen h4,
.nossos-servicos h4{
    margin-bottom: 1.25rem;

    font-size: 1.75rem;
    font-weight: 500;
}

.header-main,
.nossos-servicos, 
.reabilitacao-credito, 
.retirada-apontamentos, 
.restauracao-score, 
.bacen{
    margin-bottom: 3.25rem;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.image-container img{
    width: 15rem;
    height: 12rem;
}

.bacen .image-container img,
.reabilitacao-credito .image-container img{
    width: 21rem;
    height: 18rem;
}

@media(max-width: 480px){
    :root{
        font-size: 12px;
    }
 
    .reabilitacao-credito, 
    .retirada-apontamentos, 
    .restauracao-score, 
    .bacen,
    .header-main{
        text-align: center;
    }

    .reabilitacao-credito{
        flex-flow: column-reverse;
    }
}

@media(max-width:1200px){
    .image-container.linha{
        display: none;
    }

    .image-container{
        align-items: flex-start;
    }

    .image-container img{
        max-width: 8rem;
        max-height: 6rem;
    }
}