/* ---Página CONTATO--- */

/* ----Banner inicio---- */
.contato-banner{
    display: flex;
    justify-content: space-around;
}

.ct-ban{
    color: white;
    position: absolute;
    margin: auto;
    max-width: 570px;
    min-width: 330px;
}

.ct-ban h3{
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.ct-ban h4{
    margin-bottom: 3.75rem;
    font-weight: 500;
}

.contato-img{
    position: relative;
    height: 18rem;
    overflow: hidden;
    color: #fff;
}

.contato-img img{
    width: 100%;
    max-height: initial;
    position: absolute;
    top: 0;
    z-index: -1;
    
    min-width: 1450px;
}

.contato-h3{
    font-weight: bold;
}

.contato-p{
    font-size: 1rem;
}

#contato-info{
    margin: 3.125rem 3.125rem 3.125rem 0rem;
}

#cont-valor{
    margin-top: 1.875rem;
}

.atuacao{
    display: flex;
}

.atuacao>h4{
    padding-top: 1.25rem;
}

.atuacao>img{
    margin-right: 1.25rem;
}

.contato-form{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    border-top: none;
    box-shadow: 0px 0px 10px rgb(233, 232, 232);
    text-align: justify;
    padding: 50px 15% 100px 15%;
    max-width: 660px;
    margin-top: -3.125rem;
}

@media (max-width:1199px) {
    .contato-form{
        margin-top: 3.125rem;
    }
    #contato-info{
        margin-right: 0px;
    }
}


/* ----Form feito atraves do plugin wpforms + wpforms styles---- */
