#blog-novidade,
.blog-posts .posts-title{
    font-size: 2.125rem;
    font-weight: 700;

    color: #51A4F1;
}

.ultima-noticia{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #51A4F1;
}

.ultima-noticia .ultima-noticia-banner{
    height: 100%;
    min-height: 20rem;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.ultima-noticia .ultima-noticia-banner.no-thumbnail{
    height: 80%;
    width: initial;
    right: 2vw;
    top: 5vh;
    z-index: 0;
}

.ultima-noticia .banner-container .banner{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFFFFF;
}

.ultima-noticia .banner-container .banner>*{
    z-index: 1;
}


.ultima-noticia .banner-container .informacoes-extras{
    display: flex;
    align-items: center;
}

.ultima-noticia .banner-container .informacoes-extras>*{
    margin-right: 1rem;
}

.ultima-noticia .banner-container .informacoes-extras>p{
    margin-bottom: 0;
}

.ultima-noticia .banner-container .informacoes-extras img{
    width: 2rem;
    height: 2rem;
}

.blog-posts .filtros{
    margin-bottom: 4rem;
}

.blog-posts .filtros #busca{
    position: relative;
    border-left: 1px solid #dee2e6;
}

.blog-posts .filtros input{
    width: 100%;
    background-color: transparent;
}

.blog-posts .filtros #busca img{
    position: absolute;
    right: 0vw;
    top: 0.5rem;
    z-index: -1;

    width: 1.5rem;
    height: 1.5rem;
}

.blog-posts .filtros .categorias a{
    display: inline-block;
    border-radius: 10px;
    background-color: #EFEFEF;
    font-size: 1.375rem;
    font-weight: 500;
}

.blog-posts .filtros .categorias a,
.blog-posts .carrossel-posts button{
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
}

.blog-posts .filtros .categorias a:hover,
.blog-posts .carrossel-posts button:hover{
    box-shadow: 0 4px 8px rgba(112, 144, 176, 0.15);
}

.blog-posts .posts .post .post-thumbnail{
    width: 100%;
    height: 23rem;
}

.blog-posts .posts .post>h4{
    max-width: 100%;
    word-break: break-all;
    max-height: 4.5rem;
    overflow: hidden;

    line-height: 2.25rem;
    font-size: 1.75rem;
}

.blog-posts .posts .post>p{
    max-width: 100%;
    word-break: break-all;
    max-height: 3.75rem;
    overflow: hidden;

    line-height: 1.25rem;
    font-size: 0.875rem;

    color: rgba(0, 0, 0, 0.6);
}

.blog-posts .carrossel-posts{
    flex-direction: column;
}

.blog-posts .carrossel-posts>*{
    display: inline;
}

.blog-posts .carrossel-posts a,
.blog-posts .carrossel-posts .page-numbers{
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);

    font-size: 1.375rem;
    font-weight: 500;
}

.blog-posts .carrossel-posts span.page-numbers.current{
    color: #fff;
    background-color: #51A4F1;
}

@media(max-width: 576px){
    .ultima-noticia{
        height: 30rem;
    }

    .ultima-noticia .banner{
        height: 100%;
    }
    .blog-posts .filtros #busca{
        border-left: none;
    }
}